/*Colors*/
@primary-font-color : #333;
@second-font-color : #fff;;
@tertiary-font-color : #000;

@primary-color : black;
@secondary-color : white;
@tertiary-color : #2be6f2;

@primary-blog-bg : #dadad2;
@secondary-blog-bg : #f4f4f4;

@font-size : 15;


@font-primary: "raleway", arial, sans-serif;
@font-secondary: "Abel", sans-serif;
@font-tertiary: helvetica, sans-serif;



