

}.perspective {
  .perspective(1500px);
  height: 100%;
}
.wrapper {
  min-height: 100%;
  background-color: red;
  .transform(translateZ(0) translateX(0%) rotateY(0deg));
  .transition(0.5s all);
}
.active {
  .wrapper {
  min-height: 100%;
  .transform(translateZ(-1800px) translateX(-50%) rotateY(45deg));
  .transition(0.5s all);
  }
}
