.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-flash:before {
  content: "\e162";
}
#logo {
  .font-size(80);
  text-align: center;
  color: #2793e6;
  background: white;
  width: 100px;
  height: 100px;
  .padding-top(8);
  .box-shadow(11px 10px 12px 0px #2793e6);
}